<h1>Hoges#index</h1>
<p>Find me in app/views/hoges/index.html.erb</p>
<ul>
<li><%=link_to '名前と番号', hoges_new_path(id:1)%></li><br>
<li><%=link_to '名前と番号', hoges_new_path(id:2)%></li><br>
<li><%=link_to '名前と番号', hoges_new_path(id:3)%></li>
</ul>
